/* Responsividade para telas menores */
@media (max-width: 1047px) {
    .home_bar{
        display: block;
    }
    .main-login {
        flex-direction: column; 
        align-items: center;
    }

    .right-login {
        width: 100%;
        display: block;
        margin-bottom: 20px; /* Espaço entre os elementos */
    }

    .right-login > h1 {
        margin-top: 75px;
        font-size: 1rem;
    }

    .left-login {
        width: 100%;
        justify-items: center;
        justify-content: center;
    }
    .left-login h1{
        font-size: 1rem;

    }

    .Img-login {
        width: 100%;
        max-width: 350px;
    }

    .login-container {
        width: 80vw;
        padding: 20px;
    }

    .login-container > h1 {
        font-size: 1.6rem;
    }

    footer {
        margin-top: 50px; /* Espaço acima do rodapé */
        position: relative;
    }

}

@media (max-width: 733px) {
    .main-login {
        margin-top: 100px; /* Espaço acima do cabeçalho */
    }

    .right-login > h1 {
        font-size: 1.45rem;
    }

    .login-container {
        width: 90vw;
    }

    .login-container > h1 {
        font-size: 1.4rem;
    }
}
