/* --- Projeto FlowMap Kanban ---
PARTICIPANTES:
Alexandre Vieira Gonçalves
Guilbert Wilkerson Marques Oliveira  */

/* Estilos globais */
body {
    background-color: #f9e6e6;;
    color: #131126;
    font-family: "Roboto Condensed", sans-serif;
}

/* Estilo da barra de lista de quadros */
#quadro {
    display: flex;
    justify-content: flex-end;
}

#listQuadros {
    background: #d828d887;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-style: italic;
}

/* Container principal */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 50px 0;
}

/* Estilo das colunas */
.cols {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    height: 620px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000086;
    overflow: hidden;
}

/* Título das colunas */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d828d887;
    padding: 15px;
}

.title img {
    width: 25px;
    height: 25px;
}

/* Botão de adicionar "+" */
.btn-plus {
    background: none;
    border: none;
    cursor: pointer;
}

/* Container dos cartões */
.cards-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

/* Estilo dos cartões */
.cards {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    border-radius: 8px;
    padding: 10px;
    gap: 5px;
}

/* Informações dentro do cartão */
.info {
    font-size: 16px;
    color: #131126;
}

/* Container das Tarefas */
#task-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000086;
}

#task-container .box {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

/* Cabeçalho da caixa de tarefa */
.box .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #000;
    font-weight: 700;
}

.box .head span {
    font-size: 20px;
}

.box .head button {
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
}

/* Formulário dentro da caixa */
.from {
    padding: 20px;
}

.from label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.from input,
.from select,
.from textarea {
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    border: 1px solid #999;
    margin: 5px 0;
    padding: 10px;
}

.from textarea {
    resize: none;
}

/* Botão de submissão */
.btn-submit {
    width: 100%;
    height: 50px;
    background-color: #d828d887;
    border: none;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

/* Responsividade para telas pequenas (tablets) */
@media (max-width: 975px) {
    .cols {
        height: 350px;
    }
}

/* Responsividade para telas muito pequenas (Smartphones) */
@media (max-width: 733px) {
    .cols {
        width: 70%;
        height: 200px;
    }

    .title img {
        width: 20px;
        height: 20px;
    }

    #task-container .box {
        width: 95%;
    }

    .btn-submit {
        font-size: 14px;
    }
}
